<!-- 		<script src="/res/library/jquery-3.5.0.min.js"></script>
		<script src="/res/library/popper.min.js"></script>
		<script src="/res/library/bootstrap.min.js"></script> -->
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		<script src="/js/script.js"></script>
	</body>
</html>