		<script src="/res/library/jquery-3.5.0.min.js"></script>
		<script src="/res/library/popper.min.js"></script>
		<script src="/res/library/bootstrap.min.js"></script>
		<script src="/js/script.js"></script>
	</body>
</html>