		
		
		<footer class="footer">
			<div class="footer-content">
				<a href="/" class="footer-link">Home</a> |  
				<a href="/movie/trending/" class="footer-link">Trending</a> |  
				<a href="/movie/" class="footer-link">Popular Downloads</a> |  
				<a href="/favourite/" class="footer-link">My Favourites</a> |  
				<a href="/favourite/" class="footer-link">My Wishlist</a>
			</div>
			<div class="social-links">
				<span class="text-muted">&copy; Infinity 2020 </span>
				<div class="social-media-icons ml-2">
					<span class="social-media mx-1"><a href="https://github.com/TheInfinity007" target="_blank"><i class="fa fa-github"></i></a></span>
					<span class="social-media mx-1"><a href="https://www.instagram.com/i_am_ram_10/" target="_blank"><i class="fa fa-instagram"></i></a></span>
					<span class="social-media mx-1"><a href="https://www.linkedin.com/in/ram-chandra-9583a9174/" target="_blank"><i class="fa fa-linkedin"></i></a></span>
				</div>
			</div>
		</footer>
	
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		<script src="/js/script.js"></script>
	</body>
</html>