<!DOCTYPE html>
<html>
<head>
	<title>MovieDazZ</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link rel="stylesheet" href="/res/library/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark  text-white">
		<div class="container-fluid">	
			<a class="navbar-brand" href="/">Movie DazZ</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">	
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home</a>
					</li>	
					<li class="nav-item">
						<a class="nav-link" href="/movie/">Popular</a>
					</li>	
					<li class="nav-item">	
						<a class="nav-link" href="/movie/evergreen/">Evergreen</a>
					</li>	
					<li class="nav-item">	
						<a class="nav-link" href="/movie/in-theatre/">Theatres</a>
					</li>	
					<li class="nav-item">	
						<a class="nav-link" href="/movie/upcoming/">Upcoming</a>
					</li>		
					<li class="nav-item">	
						<a class="nav-link" href="/celebrity/">Celebrity</a>
					</li>		
					<li class="nav-item">	
						<a class="nav-link" href="/favourite/">Favourites</a>
					</li>	
					<li class="nav-item">	
						<a class="nav-link" href="/watchlist/">Watchlist</a>
					</li>		
				</ul>
				<form class="form-inline mx-auto nav-form" method="GET" id="search-form">
				    <div class="input-group">
				    	<div class="input-group-prepend">
							<button type="button" class="btn  dropdown-toggle" data-toggle="dropdown">
							</button>
							<div class="dropdown-menu">
							  	<a class="dropdown-item active" href="#">Movie</a>
							  	<a class="dropdown-item" href="#">Celebrity</a>
							  <a class="dropdown-item" href="#">Trailer</a>
							</div>
						</div>
				      	<input type="text" class="form-control" placeholder="Search" id="search-value">
				      	<div class="input-group-append">
				        	<button class="btn btn-search" type="submit"><i class="fa fa-search"></i></button>
				      	</div>
				    </div>
				</form>
				<ul class="navbar-nav ml-auto">

				<% if(currentUser){ %>				
					<li class="nav-item">	
						<a class="nav-link">Logged in as <%= currentUser.username%></a>
					</li>
					<li class="nav-item">	
						<a class="nav-link" href="/logout/">Logout</a>
					</li>	
					<%}else{%>
					<li class="nav-item">	
						<a class="nav-link" href="/login/">Login</a>
					</li>
					<li class="nav-item">	
						<a class="nav-link" href="/register/">SignUp</a>
					</li>	
					<% } %>
				</ul>
			</div>
		</div>
	</nav> 

	
