footer
{
	z-index:3;
	padding:10px 0;
	position: absolute;
	text-align:center;
	width:100%;
	background: purple;
	color:#fff;
}
.footer-content
{
	z-index: 5;
}
footer .text-muted
{
	color: #bdb4be !important;
}
.footer-content .footer-link
{
	color:#fff;
	text-decoration: none;
}
footer .footer-link:hover
{
	color:#bdb4be;
}
footer .social-media-icons
{
	display: inline;
}
footer .social-media-icons a
{
	color:white;
	text-decoration:none;
}