*
{
	margin:0;
	padding:0;
}
body
{
	box-sizing:border-box;
	background:linear-gradient(#1D4350,#A43931,#BE5869);
	background-repeat: no-repeat;
	background-color: purple;
	background-blend-mode: soft-light;
	position:relative;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-size:cover;
	min-height: 100vh;
}
.hr
{
	margin:auto;
	width:50%;
	background:rgba(0,0,0,0.125);
	height: 1px;
}
.navbar
{
	background: purple;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	z-index:15;
}
ul li.nav-item a.nav-link
{
	color:rgba(255, 255, 255, 0.75) !important;
	margin:0 2px;
}
ul li.active a.nav-link,
ul li:hover a.nav-link
{
	color:#fff !important;
	border-bottom:1.2px solid #fff;	
}
.nav-form
{
	background:#fff;
	border-radius: .35rem;
}
.nav-form button
{
	outline:none;
	border:none;
	background:transparent;
}
.nav-form button:focus
{
	box-shadow: 0 0 0 0.2rem rgba(128, 0, 128, 0.25);
}
.nav-form input
{
	border:none;
}
.nav-form .form-control:focus
{
	border:none;
	outline: none;
	background:rgba(243, 242, 242, 0.77);
	box-shadow: none;
}
.nav-form .fa-search
{
	color:purple;
}
.nav-form .btn-search:hover{
	background:purple;
}
.nav-form .btn-search:hover .fa-search
{
	color:#fff;
}
.nav-form .dropdown-menu
{
	padding:0;
	border:none;
}
.nav-form .dropdown-item.active,
.nav-form .dropdown-item:active
{
	background:purple;
}
section
{
	width:100%;
}
section.landing
{
	height:92.2vh;
	height: 100vh;
	background:rgba(0,0,0,0.5);
	position: relative;
	overflow: hidden;
}
section.landing:before
{
	content:'';
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100vh;
	background:url(https://images.unsplash.com/photo-1560405177-47dded9830ea?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9);
	/*background: linear-gradient(#0005,#0005), url(https://source.unsplash.com/random/1600×1600/?movies);	*/
	background-size:cover;
	z-index: -1;
}
.landing .wrapper
{
	width:100%;
	height: 100%;
	display:flex;
	align-items: center;
	justify-content: center;
	padding:0 1rem;
}

.wrapper .motto
{
	display: flex;
	justify-content: center;
}
.wrapper .motto h1
{
	color:#fff;
	font-weight: bold;
	font-size:4rem;
}
.wrapper .motto h1 span
{
	border-radius: 15px;
	padding:0 15px;
	border-bottom-right-radius: 0;
	text-decoration: underline;
	letter-spacing: 1px;
}
.wrapper .motto h1 span.motto-1
{
	font-size:5rem;
	background:purple;
}
.wrapper .motto h1 span.motto-2
{
	color:purple;
	background:#fff;
}
@media(max-width:768px)
{
	.wrapper .motto h1
	{
		font-size:3rem;
	}
	.wrapper .motto h1 span
	{
		padding:0 5px;
		letter-spacing: normal;
	}
	.wrapper .motto h1 span.motto-1
	{
		font-size:3rem;
		text-decoration: none;
	}
}
.skewed
{
	position: absolute;
	left:0;
	width:100%;
	height: 100%;
	background: #fff;
	background: rgb(210, 210, 210);
	transform: skewY(-7deg);
	transform-origin: top left;
	bottom:-100%;
}

.m-trending
{
	background: rgb(210, 210, 210);
	overflow: hidden;
	box-shadow: 5px 8px 8px rgba(0,0,0,0.5);
	padding:20px 50px 20px;
}
.m-trending .header
{
	padding:20px 0;
}
.m-trending .header h3
{
	font-weight: bold;
	padding-bottom:5px;
	border-bottom: 1px solid rgba(0,0,0,0.5);
}
.cards-wrapper
{
	overflow-x: scroll;
}
.movie-cards
{
	display: inline-flex;
}
.movie-cards a
{
	text-decoration: none;
	color:inherit;
}

.movie-card
{
	margin: 5px 10px;
	overflow:hidden;
	width:150px;
	padding:0;
	position:relative;
}
.movie-cards .movie-card .img
{
	width:150px;
	border-radius: 15px;
	overflow: hidden;
	max-height: 225px;
	position: relative;
}
.movie-card .img img
{
	width:150px;
}
.movie-card .favourite
{
	position: absolute;
	top:2%;
	right:5%;
	z-index:5;
}
.fa-heart,
.fa-bookmark
{
	color:white;
	z-index: 5;
}
.fa-heart:hover,
.fa-heart.active
{
	color:red;
}
.fa-bookmark:hover,
.fa-bookmark.active
{
	color:#308d0d;
}
.fa-download:hover,
.fa-download.active
{
	color:#17abb4;
}
.card-content
{
	width:100%;
	overflow: hidden;
}
.movie-card h5
{
	margin:0;
}
.card-release
{
	font-size:12px;
}

#movie-wrapper,
#favourite-wrapper
{
	padding-top:57.2px;
	padding-bottom:15px;
}
.main-title
{
	width:100%;
	text-align: center;
	margin:1rem auto;
}
.main-title h1
{
	font-size:3rem;
	font-weight:bold;
	color:#380338;
}
.card-wrapper a
{
	color:inherit;
	text-decoration:none;
}

.card-wrapper .movie-card
{
	margin: 15px 10px;
	overflow:hidden;
	width:75%;
	padding:0;
	border-radius: 15px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}
.card-wrapper .movie-card:hover
{
	box-shadow: 0 2px 8px rgba(128, 0, 128, 0.92), 0 5px 16px rgba(128, 0, 128, 0.5), 0 5px 18px rgba(128,0,128,0.1);
	/*box-shadow: none;*/
}

.card-wrapper .movie-card .img
{
	width:100%;
	border-radius: 15px;
	overflow: hidden;
	height:auto;
	position: relative;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.card-wrapper .movie-card .img img
{
	width:100%;
}
.card-wrapper .movie-card .card-content
{
	padding:5px 15px;
}


/*LOGIN PAGE CSS*/
#login-page, #register-page
{
	width:100vw;
	height: 100vh;
	/*background: linear-gradient(#0005,#0005), url(https://source.unsplash.com/random/1600×1600/?movies);*/
	background-size: cover;
	background-repeat: no-repeat;
	padding-top:57.2px;
	display: flex;
	justify-content: center;
	align-items: center;	
	box-sizing: border-box;
}
#login-page .form-wrapper,
#register-page .form-wrapper
{
	background: rgba(0, 0, 0, .39);
	position: relative;
	width:60%;
	height: 100%;
	color: #fff; 
	margin:0 auto;
	-webkit-backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    padding:40px 0;
    border-radius: 8px;
}

.form-wrapper form
{
	width:100%;
	padding:0 80px;
}
.form-wrapper h1
{
	font-weight: bold;
}
.form-wrapper form .btn-primary
{
	background: purple;
	border-color:purple;
}
.form-wrapper form .btn-primary:focus
{	
	box-shadow: 0 0 0 0.2rem rgb(106, 9, 106);
}
.form-wrapper form .form-control:focus
{
	box-shadow: 0 0 0 0.1rem rgba(106, 9, 106, 1);
}
#login-page a,
#register-page a
{
	color:#d255d2;
	text-decoration: none;
}
#register-page #pwd-error
{
	color:#e81a2e;
	display: none;
}
#favourite-wrapper .card-release
{
	font-size: 14px;
}
#favourite-wrapper .card-wrapper .movie-card:hover
{
	box-shadow: none !important;
}
#favourite-wrapper .card-wrapper .row:hover
{
		box-shadow: 0 2px 8px rgba(128, 0, 128, 0.92), 0 5px 16px rgba(128, 0, 128, 0.5), 0 5px 18px rgba(128,0,128,0.1);
}
#download-page
{
	min-height: 92.3vh;
}
#download-page h1.title
{
	font-size:4rem;
	text-decoration: underline;
}
.d-title
{
	font-size:3rem;
}
.d-quality
{
	font-size:3rem;
}
.quality-type
{
	font-size:2rem;
	text-transform: uppercase;
}
.btn-download
{
	background:#fff;
	border:3px solid purple;
	color:purple;
	outline: none;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
}
.btn-download:hover
{
	background:purple;
	color:#fff;
}
.btn-download .fa-download:hover
{
	color:inherit;
}
.btn-download.btn:focus
{
	box-shadow: none;
}
